<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>ShareWallet</title>
</head>

<body>
    <div class="app-container" style="border-radius: 14px;">
        <div class="header-container">
            <h2 id="app-name-header">
                <%= title %>
            </h2>
            <p>
                <%= users %>
            </p>
        </div>
        <div class="billing-groups-container">
            <div class="expenses-balance">
                <a id="link" href="/expenses/<%=billingGroupId%>">
                    <div id="expenses-as-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                            <path
                                d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                        </svg>
                        <h3>EXPENSES</h3>
                    </div>
                </a>
                <div id="balance-not-as-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5" />
                    </svg>
                    <h3>BALANCE</h3>
                </div>
            </div>
            <ul id="users-costs-list">
                <% if (locals.userCost) { %>
                    <% userCost.forEach(user=> { %>
                        <li>
                            <p>
                                <%=user.name%>
                            </p>
                            <% if(user.costs> 0) { %>
                                <p style="color: #6ddb45">
                                    <%=user.costs%>
                                </p>
                                <% } else if (user.costs < 0) { %>
                                    <p style="color: #e21212">
                                        <%=user.costs%>
                                    </p>
                                    <% } else { %>
                                        <p>
                                            <%=user.costs%>
                                        </p>
                                        <% } %>
                        </li>
                        <hr id="line-under-list-item" />
                        <% }) %>
                            <% } else { %>
                                <p>There is no expenses</p>
                                <% } %>
            </ul>
        </div>
    </div>
</body>

</html>