<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css" />
    <title>ShareWallet</title>
</head>

<body>
    <div class="app-container">
        <div class="header-container">
            <h2 id="app-name-header">
                <%= title %>
            </h2>
            <p>
                <%= users %>
            </p>
        </div>
        <div class="billing-groups-container">
            <div class="expenses-balance">
                <div id="expenses-not-as-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                        <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path
                            d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                    </svg>
                    <h3>EXPENSES</h3>
                </div>
                <a id="link" href="/balance/<%=billingGroupId%>">
                    <div id="balance-as-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5" />
                        </svg>
                        <h3>BALANCE</h3>
                    </div>
                </a>
            </div>
            <div class="expenses-container">
                <ul id="billing-groups-list">
                    <% if (locals.items) { %>
                        <% items.forEach(item=> { %>
                            <li>
                                <a href="/item/<%=item.id%>">
                                    <div class="iteam-header-price-container">
                                        <h3 id="item-description">
                                            <%=item.description%>
                                        </h3>
                                        <h3 id="item-price">
                                            <%=item.price%> zł
                                        </h3>
                                    </div>
                                    <p>
                                        Paid by <%=item.name%>
                                    </p>
                                </a>
                            </li>
                            <hr id="line-under-list-item" />
                            <% }); %>
                                <% } else { %>
                                    <p>There is no items</p>
                                    <% } %>
                </ul>
            </div>
            <div class="bottom-menu">
                <div class="current-user-cost">MY COST: <%=currentUserCost%></div>
                <div class="button-container">
                    <button id="add-new-item-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                            fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg></button>
                </div>
                <div class="total-expenses">TOTAL EXPENSES: <%=totalExpenses%></div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>